* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    position: relative;
    width: relative;
    height: 10vh;
    background: #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Picture + Name */
.body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px;
    left: 50px;
    /* background: #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.bodyProfilePicture img {
    display: flex;
    position: relative;
    height: 350px;
    width: auto;
    border-radius: 10%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    cursor: pointer;
}
.bodyName {
    font-size: 20pt;
}
.bodyContact {
    text-align: center;
    color: #7D0416;
    font-size: 14pt;
}

/* Profile */
.profile {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 150px;
    font-size: 16pt;
}
.profileHeader {
    position: relative;
    left: 50px;
    color: #7D0416;
}
.profileLine {
    position: relative;
    width: 400px;
    height: 0px;
    border: 1px solid #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profileParagraph {
    position: relative;
    width: 80%;
    top: 25px;
    left: 50px;
}

/* About Me */
.aboutMe {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 250px;
    font-size: 16pt;
}
.aboutMeHeader {
    position: relative;
    left: 50px;
    color: #7D0416;
}
.aboutMeLine {
    position: relative;
    width: 400px;
    height: 0px;
    border: 1px solid #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.aboutMeParagraph {
    position: relative;
    width: 80%;
    top: 25px;
    left: 50px;
}

/* Education */
.education {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 365px;
    font-size: 16pt;
}
.educationHeader {
    position: relative;
    left: 50px;
    color: #7D0416;
}
.educationLine {
    position: relative;
    width: 400px;
    height: 0px;
    border: 1px solid #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.educationParagraph1 {
    position: relative;
    width: 80%;
    top: 25px;
    left: 50px;
}
.educationParagraph2 {
    position: relative;
    width: 80%;
    top: 50px;
    left: 50px;
}
.educationParagraph3 {
    position: relative;
    width: 80%;
    top: 75px;
    left: 50px;
}

/* Skills */
.skills {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 550px;
    font-size: 16pt;
}
.skillsHeader {
    position: relative;
    left: 50px;
    color: #7D0416;
}
.skillsLine {
    position: relative;
    width: 400px;
    height: 0px;
    border: 1px solid #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.skillsParagraph1 {
    position: relative;
    width: 80%;
    top: 25px;
    left: 50px;
}
.skillsParagraph2 {
    position: relative;
    width: 80%;
    top: 50px;
    left: 50px;
}

/* Achievement  */
.achievement {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 700px;
    font-size: 16pt;
}
.achievementHeader {
    position: relative;
    left: 50px;
    color: #7D0416;
}
.achievementLine {
    position: relative;
    width: 400px;
    height: 0px;
    border: 1px solid #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.achievementParagraph1 {
    position: relative;
    width: 80%;
    top: 25px;
    left: 50px;   
}
.achievementParagraph2 {
    position: relative;
    width: 80%;
    top: 50px;
    left: 50px;
}
.achievementParagraph3 {
    position: relative;
    width: 80%;
    top: 75px;
    left: 50px;
}
.achievementParagraph4 {
    position: relative;
    width: 80%;
    top: 100px;
    left: 50px;
}

/* Footer */
.footer {
    position: relative;
    width: relative;
    height: 10vh;
    background: #7D0416;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 850px;
}